html,
body {
    margin: 0;
    background-color: #f9a825;
    font-family: "Arial", Helvetica, sans-serif;
}

.content {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: #eee;
    font-size: 6em;
}

h3 {
    color: #eee;
    font-size: 4em;
}

.samples li {
    display: inline-block;
    margin: 0 30px;
    list-style: none;
    border-bottom: 3px solid #380001;
    border-left: 1px solid #380001;
    border-right: 1px solid #380001;
    border-top: 1px solid #380001;
    box-shadow: 8px 5px 20px #777;
}

.samples a {
    margin: 0;
    padding: 0;
    font-size: 0;
    text-decoration: none;
    background-color: #fff;
}

.samples p {
    margin: 0;
    color: #263238;
    text-transform: uppercase;
    font-weight: bold;
}

.samples img {
    width: 400px;
    height: auto;
    opacity: 0.7;
    border-bottom: 1px solid #380001;
    transition: all 1000ms;
}

.samples img:hover {
    opacity: 1;
    transform: scale(1.02);
    transition: all 1100ms;
}

.shadow {
    text-shadow: 0 0 30px #000;
}